/*baseline styles
.lime { border: 10px solid megenta;}
.megenta { border; 10px solid magenta;}
.
*/

.header {
  display: block;
  background-color: white;

}




.navandbody{
  display:flex;

}

.nav{
  display: block;
  background-color: white;
  width: 20%


}

.img_section{
  display: block;
  background-color: white;
}
