/*baseline styles
.lime { border: 10px solid megenta;}
.megenta { border; 10px solid magenta;}
.
*/

.header {
  display:inline-block;
  background-color: gray;
  /*position: fixed;*/
  /*top: 0;*/
  /*width: 230px;*/
  clear: both;

}

.aside_and_main_img{
  width: 100%;
  position:fixed;
  background-color: gray;
  margin-top: 100px;
}

.asidenav {
  background-color: gray;
    position: fixed;
    left: 0;
    clear: both;
    margin-top: 100px;
    width: 230px;


}

.main_image{
  display: inline-block;
  height: 500px;
  float:right;
  clear:right;
  background-color: pink;
  width: 75%;
  /*hight: 50%;*/

}
