<main>
  <article class="welcome">
    <p>
      Oh hey, internet user! My name is Jillian Boshart, and I'm currently a student in Cohort 5 at Ada Developers Academy. Ada is a pretty cool place, and my cohort and I are learning a lot.
    </p>

    <p>
      This website that you're on? It's
      actually one of my projects for Ada! You see, Ada teaches us by having us make stuff, and right now we're learning HTML and CSS. What's more, this is my first project using either!
    </p>

    <p>
      Above all of this texty-typey stuff you no doubt saw a navigation bar with links to the various pages on this site. They're pretty straight forward, but if you'd like to learn more about me click on over to the "Person" page. To see projects I've been working on at Ada click "Programmer" And lastly, if you'd like to see what I'm interested in (besides coding, of course) you can check out my performance and production work at "Performer" and "Producer".
    </p>

    <p>
      Thanks for stopping by, you incredibly wonderful and attractive internet user, you!
    </p>
  </article>
</main>
