<!DOCTYPE html>
<html>
<head>
  <title>Jillian Boshart - Home</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="css" href="../stylesheets/styles.css">
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="/">Jillian Boshart:</a></li>
        <li><a href="/programmer">Programmer.</a></li>
        <li><a href="/person">Person.</a></li>
        <li><a href="/performer">Performer.</a></li>
        <li><a href="/producer">Producer.</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield%>
  </main>

  <footer>
    <ul>
      <li><a href="https://twitter.com/jilliliz_actual">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/jilliliz">LinkedIn</a></li>
      <li><a href="https://github.com/JBoshart">GitHub</a></li>
      <li><a href="mailto:jilliliz@gmail.com">Email</a></li>
    </ul>
  </footer>
</body>
</html>
