<main>

  <div class="ohmygodjustdowhatiwant">
    <article class="stage"><h1>Stage</h1>
      <p>
        <img  src="images/stage2.jpg" alt="Dancers wearing workout clothes from the 1980s stand in a chorus line at the edge of a stage.">
        <img  src="images/stage4.jpg" alt="Five children (played by adults) dressed in halloween costumes, looking afraid.">
        <img  src="images/stage5.jpg" alt="Three brothers at the breakfast table eating cereal and fighting over the cereal box prizes.">
        <img  src="images/stage1.jpg" alt="A woman wearing one heeled shoe, and holding the other in her hand, trying to sit in a chair.">
      </p>
    </article>

    <article class="film"><h1>Film</h1>
      <p>
        <img  src="images/film4.jpg" alt="A woman and man sit beside each other talking, the woman appears to be concerned, the man appears confused.">
        <img  src="images/film1.jpg" alt="Woman in a white dress, with black see-through fabric covering her face and head, is looking at something imaginary that she is holding in her hands.">
        <img  src="images/film2.jpg" alt="Woman in a slip and tweed blazer looks to her right, the room appears to be gothic.">
      </p>
    </article>

    <article class="modeling"><h1>Modeling</h1>
      <p>
        <img  src="images/modeling1.jpg" alt="A woman in a large black dress covered in large light up crystals, walking a fashion runway.">
        <img  src="images/modeling2.jpg" alt="Woman with red curly hair, wearing a fur coat, looking into the camera, as her hair is blown back behind her.">
        <img  src="images/modeling3.jpg" alt="Two women in the foreground laughing and having a pillow fight, as a third woman in the background appears to be ready to hit them with a champagne bottle.">
      </p>
    </article>
  </div>

</main>
