<main>
  <section class="port-images">
    <a href="https://github.com/dri19tcc/Word-Guess"><img src="images/hangman.png" alt="Hangman Game Art"/></a>
  </section>

  <section class="port-text">
    <h3>Word Guess Game Project</h3>
    <p>For this project, I created a game which will allow the user to guess a word letter by letter.  ASCII-art was used as feedback on their guesses  The user should be able to input a single letter at a time.
    Between each guess, the board was redrawn to the terminal output.  Pure Ruby was used for this project.  It runs on terminal.</p>
  </section>

  <section class="port-images">
    <a href="https://github.com/dri19tcc/FarMar"><img src="images/farmar.jpeg" alt="Farmer's Market Cartoon"/></a>
  </section>

  <section class="port-text">
    <h3>Farmer Market Project</h3>
    <p>For this project, I created an application to look up farmers markets and their related vendors, products, and sales. CSV files were used as the database.   The implementation had class methods to handle finding, sorting, and collecting the data into instances representing individual rows of data. Each of the instances have instance methods to provide details about the object.</p>
  </section>

  <section class="port-images">
    <a href="https://github.com/dri19tcc/BankAccounts"><img src="images/piggy.jpeg" alt="Piggy Bank Cartoon"/></a>
  </section>

  <section class="port-text">
    <h3>Bank Account Project</h3>
    <p>This project focused on the concept of bank accounts in order to explore more object-oriented code as well as a few other new topics.  This used class and instance methods as well as hard different Argument Errors raised if certain requirements were not met.</p>
  </section>

  <section class="port-images">
    <a href="https://github.com/dri19tcc/Solar-System"><img src="images/solarsystem.jpg" alt="Solar System Cartoon"/></a>
  </section>

  <section class="port-text">
    <h3>Solar System Project</h3>
    <p>For this project, I made a planetary system!  This was my first foray into having an initialize method and difference instance methods.</p>
  </section>
</main>
