/******** MAIN BODY ABOUT PAGE ********/
.main-body {
	margin-left: 2.5rem;
  margin-right: -.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	float: left;
}

.main-body h2 {
	font-size: 1.2rem;
	font-weight: bolder;
}

.main-body ul {
	list-style: none;
}

.main-body li {
	margin-bottom: 1rem;
	margin-right: 2rem;
	padding: .5rem;
}

.archive-menu {
	order: 1;
	float: right;
	text-align: right;
	border: 3px double #458B85;
	background-color: #FFDCE5;
	margin-right: 4rem;
	padding-right: 1.5rem;
}

.archive-menu h3 {
	font-size: 1.2rem;
	font-weight: bolder;
	padding: .5rem;
	margin-left: 1rem;
}

.archive-menu ul {
	list-style-type: circle;
}

.archive-menu a {
	color: #458B85;
}

.archive-menu a:hover {
	background-color: #FFDCE5
}

.entries {
	float: left;
	clear: both;
	width: 75%;
}

.entry-title {
	margin: 3rem;
}

.entry {
	margin: 3rem;
}

.image figcaption {
	font-style: italic;
	font-size: .9rem;
}