/************
Baseline Styles
************/

html {
  font-size: 16px;
}
/*****************
header
*****************/

header ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

header li {
   float: left;
}

header li a {
   display: block;
   color: white;
   font-family: "Arial";
   font-size: 16px;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

header li a:hover:not(.active) {
   background-color: #111;
}

header.active {
   background-color: #4CAF50;
}
/*.name-in-nav {
  color: white;
  font-family: "Arial";
  font-size: 16px;
  float:right;
}*/

body {
  background: rgb(212,228,239);
  background: -moz-linear-gradient(left, rgb(212,228,239) 0%, rgb(134,174,204) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgb(212,228,239)), color-stop(100%, rgb(134,174,204)));
  background: -webkit-linear-gradient(left, rgb(212,228,239) 0%, rgb(134,174,204) 100%);
  background: -o-linear-gradient(left, rgb(212,228,239) 0%, rgb(134,174,204) 100%);
  background: -ms-linear-gradient(left, rgb(212,228,239) 0%, rgb(134,174,204) 100%);
  background: linear-gradient(to right, rgb(212,228,239) 0%, rgb(134,174,204) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
  max-width: 100%;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 1px;
    padding: 15px;
  }

p {
    font-family: arial;
      font-size: 18px;
      text-align: left;
      margin-top: 62px;
      margin-left: 0;
      max-width: 77%;
      float: right;
  }

table {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 85%;
  border-bottom-color: inherit;
  border-bottom-style: double;
}

h3.boxtitletop {
  margin: 0;
  padding: 0;
  }

h2 {
  color; black;
  font-family: 'Tangerine', serif;
  font-size: 36px;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
  margin: 0;
  padding: 0;
  }

h3 {
  color; black;
  font-family: 'Tangerine', serif;
  font-size: 18px;
  text-shadow: 4px 4px 4px #aaa;
  text-align: left;
  padding: 0:
  }

.portfolio-game-link {
  display: inline;
  margin: 0; 5px;
  width: 90%;
}

img {
  height: 226px;
  width: 226px;
  align: left;
}

.row-in-table{
  margin: 0; 5px;
  padding: 0;
  width: 90%;
}
/**************
footer
**************/
footer {
  background-color: #333;
  color: white;
  text-align: left;
  font-family: sans-serif;
  font: Arial;
  font-size: 18px;
  font-style: normal;
  /*height: 29px;*/
  /*margin-bottom: 0;*/
  padding-top: 40px;
  padding-left: 40px;
  clear: both;
}

footer address {
  font-style: normal;
  font-size: 16px;
  padding-bottom: 15px;

}
.footeremail {
  color: purple;
  text-align: left;
  margin-left: 0px;

}
.bottomline {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font: Arial;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0px;
}
/*.figtext {

 }*/
/*.top-list > li {
  background-color: purple;
}*/
