/******** MAIN BODY ABOUT PAGE ********/
.main-body {
	margin-left: 2.5rem;
  margin-right: -.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.ruby {
	border: 3px dotted #D9828B;
	border-radius: 20px;
	margin-right: 2rem;
	margin-bottom: 2.5rem;
	padding: .5rem;
	order: 1;
}

.webpages {
	order: 1;
	margin-left: 1rem;
	padding: .5rem;
	border: 5px double #81D8D0;
}

.talks {
	order: 1;
	margin-left: 1rem;
	padding: .5rem;
	border: 2px dashed #202020;

}

.mini-lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.mini-lists ul {
	margin-left: 1rem;
}

.likes {
	margin-left: .5rem;
}

.dislikes {
	margin-left: 1rem;
}
