h1 {
  font-family: 'Codystar', fantasy;
  font-size: 6.5rem;
  margin-top: 0;
  padding-top: 15%;
  background-image: url('../images/macbook-coffee-cropped.jpg');
  padding-bottom: 20%;
}

nav a {
  font-size: 2rem;
}