* {
  box-sizing: border-box;
}

header {
  height: 150px;
  padding-top: 3px;
  padding-right: 3px;
  background-color: rgba(230, 245, 255, 0.5);
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  font-family: Verdana, Arial;
  font-size: 1.5em;
  float: right;
}

li {
  display: inline;
}

li a {
  padding: 40px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;

}

body {
  background-image: url("../images/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
