* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*-webkit-margin-before: 0;
  -webkit-margin-after: 0;*/
}

html, body {
  font-size: 16px;
  font-family: monospace;
  color: #412825;
  height: 100%;
}

a {
  transition: all 0.2s ease;
  text-decoration: none;
  color: #412825;
  display:inline-block;
  border-bottom: .25rem solid transparent;
}

a:hover {
  border-bottom: .25rem solid #D76E52;
}

h1 {
  font-family: "Apple Chancery", "Monotype Corsiva", cursive;
}

ul {
  list-style: none;
}
.background {
  position: fixed;
  /*this makes the container bigger than the browser always so our image acts as a centered background!*/
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -2;
}

.background img {
  position: absolute;
  /*what do these do?*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*min-width of the container that is 200% of browser always makes it take up 100% of screen always*/
  min-width: 50%;
  min-height: 50%;
}

.horizontal.site-navigation {
  bottom: 10%;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.leftside.site-navigation {
  top: 0;
  left: 0;
  /*right: 0;*/
  /*bottom: 0;*/
  position: fixed;
  height: 100%;
  width: 40%;
  z-index: 2;
}

.site-navigation nav {
  width: 100%;
  /*height: 4rem;
  line-height: 4rem;*/
  /*for browsers that may not support linear-gradient like i have it set up*/
  background-color: #EF9D6D;
  opacity: 0.67;
}

.horizontal.site-navigation nav {
  height: 4rem;
  line-height: 4rem;
  background-image: linear-gradient(to right, #D66E55, #EF9D6D, #F2CEB3 39%, #F2CEB3);
}

.leftside.site-navigation nav {
  height: 100%;
  background-image: linear-gradient(to bottom, #D66E55, #EF9D6D, #F2CEB3 39%, #F2CEB3);
}

.site-navigation h1 {
  float: left;
  opactiy: 1;
}

.background-blanket {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0,0,0,0.3);
}

.background-blanket:hover {
  background-color: rgba(0,0,0,0);
}


.here-link {
    padding-left: 2rem;
    font-weight: bold;
    font-size: 5.5rem;
    color: #F3CEB3;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: .12rem .12rem .24rem rgba(65, 40, 37, 0.75);
    border-bottom: 0;
    /*transition: all 0.2s ease;*/
}

.here-link:hover {
  /*i don't think this method of assigning background images works with firefox but i'm okay with that since this is just a fancy extra.  sorry!*/
  text-shadow: .12rem .12rem .24rem rgba(215, 110, 82, 1);
  border-bottom: none;
}

.site-navigation ul {
  height: 4rem;
  float: left;
}

.site-section-links li {
  line-height: calc(100%/3);
  height: calc(100%/3);
  margin: 0.1rem 0rem 0rem 2rem;
}

.site-section-links a {
  line-height: 0.75rem;
  font-weight: bold;
  display: inline-block;
}

.site-section-links li:hover {
  margin-left: 3rem;
  /*still wigles!*/
}

footer {
  bottom: 3%;
  position: fixed;
  /*width: 100%;*/
  z-index: 2;
}

.right {
  right: 0;
}

.left {
  left: 0;
}


.off-site-navigation, .off-site-navigation ul {
  height: 3rem;
  width: 100%;
}


.off-site-navigation li {
  height: 3rem;
  /*float: right;*/
  margin-left: 1.5rem;
  margin-right: .5rem;
}

.right .off-site-navigation li {
  float: right;
}

.left .off-site-navigation li {
  float: left;
}

.off-site-navigation img {
  /*width: 100%;*/
  height: 3rem;
}
